/*-----FOOTER CSS-----*/

.footer {
    background: #e9f4fd;
    text-align: left;
    border-top: 1px solid #f1f1f1;
    margin: 0 auto;
    width: 100%;
}

.footer-wrap {
    position: relative;
    max-width: 1040px;
    padding: 40px 10px 10px 20px;
    margin: 0px auto;
}

.footer-wrap .address {
    display: flex;
    justify-content: space-between
}

.footer-wrap p {
    color: #1e5f9d;
    margin-bottom: 10px;
}

.footer .link {
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
}

.footer li {
    display: inline-block;
    margin: 0px auto;
}

.footer li a {
    padding: 15px;
    cursor: pointer;
    display: block;
    color: white;
}

.footer li a:hover {
    text-decoration: underline;
}

.footer .social ul {
    margin-left: -10px;
    margin-top: -20px;
}

.footer .social img {
    height: 30px;
}

.footer .social ul li a {
    font-size: 2em;
    margin: 10px;
    padding: 0px;
}

.footer .bottom-row {
    height: 50px;
    background-color: #194160;
    ;
}

.footer .contact {
    max-width: 1040px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer .contact-item .icon {
    display: flex;
}

.footer .contact-item .icon i {
    margin-right: 10px;
    margin-top:18px;
    font-size: 25px;
    color: #1e5f9d;
}

.footer .contact-item .icon h2 {
    color: #1e5f9d;
    font-size: 20px;
    font-family: FuturaStd-Bold;
}

.footer .contact-item p {
    font-family: FuturaStd-Heavy;
    color: #1e5f9d;
    margin-top: 10px;
}

.footer .contact-item p a {
    font-family: FuturaStd-Heavy;
    color: #1e5f9d;
    margin-top: 10px;
}

.footer .contact-item p a:hover {
    text-decoration: underline;
}

.footer .bottom-row {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .bottom-row p {
    color: white;
    font-family: Open Sans;
    font-weight: 800;
    font-size: 13px;
}
