/*STARTO!*/

.wrap{
    max-width: 1000px;
    margin:0px auto;

}

h1{font-size: 30px;}

.slider-back, .banner-back, .upcoming-back,
.dremfund-back, .highlights-back, .goal-back,
.video-back, .instagram-back, .socialmedia-back,
.subscribe-back, .map-back{
    min-height: 400px;
    background-color: #eaeaea;
    padding:40px;
}

/*SLIDER*/
.slider-back{
    margin-top:70px;
    height: 100%;
    padding: 0px;

}
.slider-back .slider-item{
    height: 100%;
    width: auto;
    text-align: center;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.slider-back .slider-item img{
    width: 100%;
    margin:0px auto;
    max-height: 800px;
    height: inherit;


}
.slider-back .slider-item h1{
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 8px #000000;
}
.slider-back .slider-item p{
    color: white; margin-top:10px;
    font-size: 18px;
    text-shadow: 2px 2px 8px #000000;
}

.slider{padding: 0px; margin: 0px;}
.slick-dots{
    bottom:-45px;
}

.slick-dots li.slick-active{
    background-color: black;

}
.slick-dots li{
    border-color: black;
}
.slick-dots li:hover{
    background-color: black;
}


.slick-prev-new
{
    width: 50px;
    height: 50px;
    z-index: 100000;
    position: absolute;
    left: 20px;
    top:42%;
    color: white;
}

.slick-prev-new i{
    font-size: 2em;
}

.slick-next-new
{
    right: 0px;
    width: 50px;
    height: 50px;
    z-index: 100000;
    position: absolute;
    left: 20px;
    top:42%;
    color: white;
}

.slick-next-new i{
    font-size: 2em;
}


@media only screen and (max-width:380px){

}

@media only screen
    and (min-width: 380px)
    and (max-width:1040px){

}




/*REGISTER BANNER*/

.banner-back{
    min-height: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #E9F4FD;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-back .banner-item{
    height: 200px;
    min-width: 300px;
    width: 1000px;
    padding: 30px;
    background-image: url(/img/front/becomevolunteernow_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 42px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -14px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner-back .banner-item h1{
    color: white;
    margin:10px;
    margin-right: 30px;
    font-family: FuturaStd-Bold;
    font-size: 40px;
    text-shadow: 2px 2px 8px #000000;

}


@media only screen and (max-width:1040px) {
    .banner-back .banner-item{
        width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        height: 100%;
    }

    .home-slider .slick-fullscreen{
        height: 400px;
        background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    }

}

/*UPCOMING PROJECTS*/
.upcoming-back{
    min-height: 600px;
    background-color: white;
}
.upcoming-back .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.upcoming-back .title .item{
    margin:10px;
}
.upcoming-back .title .item h1{
    font-size: 40px;
    color:#1e5f9e;

}

.upcoming-back .title .item p a {
    font-family: Open Sans;
    font-weight: 900;
    color: #1e5f9e;
    margin-left:-170px;
}

.upcoming-back .title .item .nav i {
    padding:6px 8px 5px 8px;
    border-radius: 2px;
    margin:0px 6px;
    color: white;
    background-color:#1e5f9e;
}

.upcoming-back .upcoming{
    width: 100%;
}
.upcoming-back .upcoming .item{
    width: 250px;
    height: 430px;
    margin:10px;
    background-color: white;
    border-radius: 3px;
    border:1px solid #eaeaea;
    position: relative;
    -webkit-box-shadow: 3px 3px 10px 1px rgba(184,184,184,1);
    -moz-box-shadow: 3px 3px 10px 1px rgba(184,184,184,1);
    box-shadow: 3px 3px 10px 1px rgba(184,184,184,1);

}
.upcoming-back .upcoming .item .img{
    height: 170px;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: -15px;
}
.upcoming-back .upcoming .item .date{
    height: 50px;
    width: 100%;
    margin-top:10px;
    padding: 10px;
    background-color: #1e5f9e;
    display:flex;
    justify-content: center;
    align-items: center;
}
.upcoming-back .upcoming .item .date i{
    color: white;
    margin:10px;
}
.upcoming-back .upcoming .item .date p{
    color: white;
    font-size: 12px;
    margin:10px;
    font-family: Open Sans;
    font-weight: 900;
}
.upcoming-back .upcoming .item .content{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-height: 300px;

}
.upcoming-back .upcoming .item .content h3{
    font-family: Open Sans;
    font-weight: 900;
    color: #1e5f9e;
}
.upcoming-back .upcoming .item .content p{
    font-family: Open Sans;
    text-align: left;
    margin-top:10px;
}

.upcoming-back .upcoming .item .btn-cont{
    width: 100%;
    margin:0px auto;
    position: absolute;
    bottom: 20px;
    left: 32px;

}

.upcoming-back .upcoming .item .btn-cont .btn-volunteer{
    background-color: #00bcac;
    border-radius: 50px;
    padding: 13px;
    font-family: Open Sans;
    font-weight: 700;
    width: 170px;
    text-align: center;

}

@media only screen and (max-width:1040px) {

    .upcoming-back .upcoming{
        height: 100%;
    }
    .upcoming-back .upcoming .item{
        width: 400px;
        height: 100%;

    }
    .upcoming-back .upcoming .item .btn-cont{
        position: relative;
        width: 100%;
        margin-top:30px;
        left: 20px;
    }
    .upcoming-back .upcoming .item .btn-cont .btn-volunteer{
        width: 90%;
    }
    .upcoming-back .title{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .upcoming-back .title .item p{
       margin-left:0px;
    }

    .upcoming-back .title .item .nav i {

    }

    .upcoming-back .title{
        justify-content: center;
    }


}

/*DREMFUND/CREATE PROJECT*/
.dremfund-back{
    background-color: #E9F4FD;
}
.dremfund-back .dremfund-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.dremfund-back .dremfund-cont .item{
    width: 450px;
    margin:10px;
    padding:10px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
}
.dremfund-back .dremfund-cont .item img{
    height: 230px;
}
.dremfund-back .dremfund-cont .item h1{
    font-size: 20px;
    margin-bottom:20px;
    color: white;

}
.dremfund-back .dremfund-cont .item p{
    color: white;
    font-family: Open Sans;
    margin:10px;
}

.dremfund-back .dremfund-cont .item .btn-dremfund{
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
    margin:20px;
    width: 200px;
    text-align: center;

}
.dremfund-back .dremfund-cont .item a{
    font-family: Open Sans;
    color: white;
    font-weight: 700;
}
.dremfund-back .dremfund-cont .item a.fix{
    padding-bottom: 5px;
}


.dremfund-back .dremfund-cont .item:first-child{
    margin-left: 0px;
    background-color: #e91222;
}
.dremfund-back .dremfund-cont .item:last-child{
    background-color: #25aae1;
}

@media only screen and (max-width:1040px) {
    .dremfund-back .dremfund-cont .item{
        margin:10px;
    }
    .dremfund-back .dremfund-cont .item:first-child{
         margin:10px;
    }
}

/*RECENT HIGHLIGHTS*/
.highlight-back{
    background-color: white;
    padding:70px 30px;

}

.highlight-back .slick-item .item{
    height: 140px;

}

.highlight-back .high-cont{
    width: 100%;
    margin:10px;
}
.highlight-back .high-cont .item{
    height: 100px;
    width: 100px;
    margin:5px;
    background-size:cover;
    background-position: center;
    display: inline-block;
}

.highlight-back .high-desc{
    display: flex;
    flex-wrap: wrap;
    margin-top:0px;
    margin:5px;
    width: 100%;
}

.highlight-back .high-desc .item{
    margin:10px;
    width: 480px;
}
.highlight-back .high-desc .item:last-child{

}

.highlight-back .high-desc .item .title{
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}
.highlight-back .high-desc .item img{
    width: 100%;

}

.highlight-back .high-desc .item h1{
    color: #1e5f9e;
    font-size: Open Sans;
    font-weight: 900;
    font-size:18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.highlight-back .high-desc .item p{
    font-family: Open Sans;
    line-height: 24px;
    font-size: 14px;
}

.highlight-back .high-desc .item a{
    color: #1e5f9e;
    font-weight: 900;

}

@media only screen and (max-width:1040px) {

    .highlight-back .title{
        display: flex;
        flex-direction: column;
    }
    .highlight-back .title .item p{
        margin-left: 0px;
    }

    .highlight-back .high-cont{
        height: 100%;
        margin-left: 0px;
    }
    .highlight-back .high-cont .item{
        height: 300px;
        margin-top:20px;
    }
    .highlight-back .high-desc{
        display: none;
    }

}




/*GOAL*/
.goal-back{
    background-image: url(/assets/img/front/goal_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 550px;
    display: flex;
}

.goal-back .wrap{
    width: 930px;
    display: flex;
    align-items: center;
}

.goal-back .goal-desc img{
    height: auto;
    width: 300px;
    margin-bottom: 30px;
}

.goal-back .goal-desc h1{
    color:white;
    margin-bottom: 10px;
    text-shadow: 2px 2px 8px #000000;
}
.goal-back .goal-desc p{
    color: white;
    max-width: 600px;
    line-height: 24px;
    text-shadow: 2px 2px 8px #000000;
}

/*VIDEOS*/
.video-back{

}

.video-back .title{
    width: 100%;
    position: relative;
    margin: 10px;

}
.video-back .title .item{
    margin:10px;
    display: inline-block;
}
.video-back .title .item h1{
    font-size: 40px;
    color:#1e5f9e;

}

.video-back .title .item a{
    font-family: Open Sans;
    font-weight: 900;
    color: #1e5f9e;
    position: absolute;
    bottom:27px;
}
.video-back .title .item .nav{
    position: absolute;
    right:0px;
    bottom:23px;
}

.video-back .title .item .nav i {
    padding:6px 8px 5px 8px;
    border-radius: 2px;
    margin:0px 6px;
    color: white;
    background-color:#1e5f9e;
}

.video-back .content{
    width: 100%;
    margin: 10px;
}

.video-back .content .item{
    height: 210px;
    width: 227px;
    -webkit-box-shadow: 0px 0px 42px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 42px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 42px -14px rgba(0,0,0,0.75);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: inline-block;
    margin:10px;
}
.video-back .content .item .shade{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    background-color: rgba(0,0,0,0.2);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-back .content .item .shade:hover{
    transition: 0.2s;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.video-back .content .item .shade i{
    color: rgba(255,255,255,0.7);
    font-size:7em;
}

/*instagram*/

.intagram-back{

}

.instagram-back .title{
    width: 100%;
    position: relative;
    margin: 10px;

}
.instagram-back .title .item{
    margin:10px;
    display: inline-block;
}
.instagram-back .title .item h1{
    font-size: 40px;
    color:#1e5f9e;

}

.instagram-back .title .item a{
    font-family: Open Sans;
    font-weight: 900;
    color: #1e5f9e;
    position: absolute;
    bottom:27px;
}
.instagram-back .title .item .nav{
    position: absolute;
    right:0px;
    bottom:23px;
}

.instagram-back .title .item .nav i {
    padding:6px 8px 5px 8px;
    border-radius: 2px;
    margin:0px 6px;
    color: white;
    background-color:#1e5f9e;
}

.instagram-back .content{
    margin:20px 0px 0px 20px;
}

.instagram-back .content .item{
    height: 220px;
    width: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: inline-block;

}
.instagram-back .content .item .shade{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    background-color: rgba(0,0,0,0.2);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-back .content .item .shade:hover{
    transition: 0.2s;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.instagram-back .content .item .shade i{
    color: rgba(255,255,255,1);
    font-size:8em;
}

/*social media*/

.socialmedia-back{

}
.socialmedia-back .title{
    margin: 10px;
}

.socialmedia-back .item .nav{
    display: flex;
    align-items: center;

}

.socialmedia-back .item .nav h1{
    font-size: 40px;
    color:#1e5f9e;
    margin:10px;
    display: inline-block;
}

.socialmedia-back .item .nav a{
    font-family: Open Sans;
    font-weight: 900;
    color: #1e5f9e;
    align-items: center;
    margin-left: 10px;
}
.socialmedia-back .item .nav i{
    margin-left:5px;
}

.socialmedia-back .content{
    display: flex;

}

.socialmedia-back .content .item{
    width: 100%;
    height: 550px;

}

.socialmedia-back .content .item .cont2{
    margin:10px;
    padding:10px;
    background-color: white;
    border:1px solid #eaeaea;
    border-radius: 5px;
    height: 450px;
}

/*subscribe*/
.subscribe-back{
    background-color: #1e5f9e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-back .cont{
    display: flex;
    align-items: center;

}
.subscribe-back .cont .item{
    margin:20px;
}
.subscribe-back .cont .item img{
    width: 200px;

}
.subscribe-back .cont h1{
    font-size: 40px;
    color:white;margin:10px;
}
.subscribe-back .cont p{
    color: white;
    margin:10px;
}
.subscribe-back .cont input{
    padding: 10px;
    border-radius: 2px;
    width: 400px;
    margin:10px;
    border:none;

}

.subscribe-back .cont .input-cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.subscribe-back .cont a{
    color: white;
    background-color: #00bcac;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    height: 40px;



}

@media only screen and (max-width:1040px) {
    .subscribe-back .cont a{
        margin:10px;
    }
}


/*map*/
.map-back{
    padding: 0px;
    height: 600px;

}


/*suscribe modal*/
.subscribe-modal-front{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 40px;
}
.subscribe-modal-front .close{
    position: absolute;
    top:10px;
    right: 10px;
    border: none;
}

.subscribe-modal-front .close a{
    border: none;
}

.subscribe-modal-front .content i{
    color:#23A59A;
    font-size: 8em;
    margin:20px;
}
.subscribe-modal-front .content h1{
    font-size:40px;


}




