/*MAIN CSS IM4U CMS */
/*All css element stylized here*/
/*author: MJ*/
/*22-2-18*/



/*fonts*/
@font-face {
    font-family: FuturaStd-Bold;
    src: url(../fonts/Futura/FuturaStd-Bold.otf);
}

@font-face {
    font-family: FuturaStd-Heavy;
    src: url(../fonts/Futura/FuturaStd-Heavy.otf);
}
@font-face {
    font-family: FuturaStd-Book;
    src: url(../fonts/Futura/FuturaStd-Book.otf);
}

.futura-bold{font-family: FuturaStd-Bold;}
.futura-heavy{font-family: FuturaStd-Heavy;}
.futura-book{font-family: FuturaStd-Book;}
.opensans{font-family: Open Sans;}

h1,h2,h3,h4,h5{font-family: FuturaStd-Bold;line-height: 1em; line-height: 1.2em;}
p{font-family: Open Sans;}
a{font-family: Open Sans; color:black; text-decoration: none;}
.subtitle{font-size:1.2em;}
.title{font-size: 4em; margin:0px}
.bold{font-weight: 800;}
.italic{font-style: italic;}
.uppercase{text-transform: uppercase;}
.box-shadow{
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.75);
}
.row{margin:0px;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.text-justify{text-align: justify;}
.text-shadow{text-shadow:2px 2px 8px #000000};
body{margin:0px; padding:0px;}
hr{}
a:hover{text-decoration: none;}

/*wrappers*/
.main-wrap{max-width: 1040px; margin:0px auto; position: relative;}



/*colors*/
.blue-text{color:#1f518c !important;}
.blue-bg{background-color:#1f518c !important;}

.blue2-text{color: #194160 !important;}
.blue2-bg{background-color: #194160 !important;}

.blue3-text{color: #1988C8 !important;}
.blue3-bg{background-color: #1988C8 !important;}

.white-text{color:#fff !important;}
.white-bg{background-color:#fff !important;}

.black-text{color:#000 !important;}
.black-bg{background-color:#000 !important;}

.green-text{color:#00bcac !important;}
.green-bg{background-color:#00bcac !important;}

.yellow-text{color:#feca15 !important;}
.yellow-bg{background-color:#feca15 !important;}

.red-text{color:#e91222 !important;}
.red-bg{background-color:#e91222 !important;}

.gray-text{color: #eaeaea !important;}
.gray-bg{background-color: #eaeaea !important;}

.special-text{color: #c9c9c9 !important;}
.special-bg{background-color: #c9c9c9 !important;}

.bluesea-text{color:#E9F4FD !important;}
.bluesea-bg{background-color:#E9F4FD !important;}


/*padding margin*/
.m-n-1{margin:-1em;}
.m-n-2{margin:-2em;}
.m-n-3{margin:-3em;}
.m-n-4{margin:-4em;}

.mt-n-1{margin-top:-1em;}
.mt-n-2{margin-top:-2em;}
.mt-n-3{margin-top:-3em;}
.mt-n-4{margin-top:-4em;}

.mb-n-1{margin-bottom:-1em;}
.mb-n-2{margin-bottom:-2em;}
.mb-n-3{margin-bottom:-3em;}
.mb-n-4{margin-bottom:-4em;}

/*buttons*/
.btn{
    font-family: FuturaStd-Bold;
    padding: 10px 25px;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
}

.btn-med{
    font-size: 0.7em;
}
.btn-small{
    font-size: 0.5em;
}

.btn-default{background-color: #7c7a7d; transition:0.2s;color: white;}
.btn-default:hover{background-color: #AAA7AC; transition:0.2s;color: white;}

.btn-blue{background-color: #1f518c; transition:0.2s;color: white;}
.btn-blue:hover{background-color: #376499; transition:0.2s;color: white;}

.btn-green{background-color: #00bcac; transition:0.2s;color: white;}
.btn-green:hover{background-color: #01DDCA; transition:0.2s;color: white;}

.btn-yellow{background-color: #feca15; transition:0.2s;color: white;}
.btn-yellow:hover{background-color: #f9da6b; transition:0.2s;color: white;}

.btn-red{background-color: #e91222; transition:0.2s;color: white;}
.btn-red:hover{background-color: #ef434f; transition:0.2s;color: white;}

.btn-white{background-color: white; transition:0.2s;color: white; border:2px solid white; color:#00bcac;}
.btn-white:hover{background-color: ##eff0f2; transition:0.2s;color:#1f518c;}

.btn-default-o{background-color: none; transition:0.2s; color: white; border:2px solid #7c7a7d; color:#7c7a7d;}
.btn-default-o:hover{background-color: #AAA7AC; transition:0.2s;color: white;}

.btn-green-o{background-color: none; transition:0.2s;color: white; border:2px solid #00bcac; color:#00bcac;}
.btn-green-o:hover{background-color: #01DDCA; transition:0.2s;color: white;}

.btn-yellow-o{background-color: none; transition:0.2s;color: white; border:2px solid #feca15; color:#feca15;}
.btn-yellow-o:hover{background-color: #f9da6b; transition:0.2s;color: white;}

.btn-red-o{background-color: none; transition:0.2s;color: white; border:2px solid #e91222; color:#e91222;}
.btn-red-o:hover{background-color: #ef434f; transition:0.2s;color: white;}

.btn-white-o{background-color: none; transition:0.2s;color: white; border:2px solid white; color:white;}
.btn-white-o:hover{background-color: white; transition:0.2s;color:#1f518c;}

.border-gray{border:1px solid #eaeaea;}

/*components*/
/*Slick navigation*/
.slick-navi{
    width: 100%;
    height: 100%;
}

.slick-navi .link{
    font-family: FuturaStd-Bold; margin:10px 0px 0px 0px;
}

.slick-navi .link:hover{text-decoration: underline;}
.slick-navi .item .nav{}
.slick-navi .item .nav span{
    padding: 4px 10px;
    margin-left:4px;
    transition:0.2s;
}
.slick-navi .item .nav span:last-child{}
.slick-navi .item .nav span:hover{
    background-color:#376499 !important;
    cursor: pointer;
    transition: 0.2s;
}
/*slick item (4 in items full screen)*/
.slick-item{width: 100%; margin:0px; padding:10px 0px;}
.slick-item img{
    height: 200px;
}

/*slick success stories*/
.slick-item-success{width: 100%;}
.slick-item-success img{
    width: 100%;
    height: auto;
}


/*slick recent highlight*/
.slider-for{width: 100%;}
.slider-for-video{width: 100%;}

/*slick photo gallery modal*/
.slick-photo-gallery{width: 100%;}

/*slick upcoming project*/
.slick-up-project{width: 100%;}
.slick-up-project .img{height: 250px;}

/*slick collab stories*/
.slick-collab{width: 100%;}
.slick-collab .img{height: 250px;}

/*slick ambassador stories*/
.slick-amba{width: 100%;}
.slick-amba .img{height: 250px;}

/*slick-press*/
.slick-press{width: 100%;}
.slick-press img{height: 250px;}

.slick-people-journal{width: 100%;}
.slick-people-journal .img{height: 250px;}

/*slick featured project*/
.slick-featured-project {width: 100%}
.slick-featured-project .box{}


.slider-nav{width: 100%;}
.slider-nav-video{width: 100%;}
.slider-nav .nav{
    height: 160px;
    background-size: cover;
    background-position: center;
    margin:5px;
}
.slider-nav-video .nav{
    height: 160px;
    background-size: cover;
    background-position: center;
    margin:5px;
}

/*slick fullscreen*/
.slick-fullscreen{
    width: 100%;
    height: 100vh;
    background-size: cover;

}

.slick-fullscreen .item{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.slick-fullscreen .item img{
    width: 100%;
}

.slick-fullscreen .slick-prev{
    left:60px;
    z-index: 100000;
}
.slick-fullscreen .slick-next{
    right: 60px;
    z-index: 100000;
}

/*full width image*/
.full-width-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

/*others*/
xmp{
    padding:10px;
    border-radius: 5px;
    line-height: 1.4em;
}

.addpadtop100{
    padding-top:100px;
}
/*
.panel {
    position: fixed;
    left: -15.625em;
    width: 15.625em;
}
*/

/*instagram*/

.ig-item{
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.ig-item .shader{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 140px;
    background-color: rgba(0,0,0,0.1);
    transition: 0.2s;
}

.ig-item .shader:hover{
    transition: 0.2s;
    background-color: rgba(0,0,0,0);
}

.map{
    height: 400px;
}

/*navbar*/
.navbar-nav .item a{}
.navbar-nav .item{
    position: relative;
}

.navbar-nav .item a .sub{
    position: absolute;
    left: 0px;
    z-index: 1;
    min-width: 140px;
    display: none !important;

}
.navbar-nav .item .nav-item{position: relative; cursor: pointer}
.navbar-nav .item .nav-item .sub-menu{display:none;}
.navbar-nav .item .nav-item:hover .sub-menu{
    display: block; position: absolute; z-index: 1;
    min-width: 120px;
    width: 100%;
    left: 0px;
}
.navbar-nav .item .nav-item .sub-menu a{font-size: 0.8em;}
.navbar-nav .item .nav-item .sub-menu a:hover{
    color: #feca15 !important;
}

@media (min-width: 576px) {
    .navbar-nav .item .nav-item:hover .sub-menu{
        display: block;
    }
    .navbar-nav{
        display: flex;
        flex-direction: column;
    }
    .navbar-nav .item .nav-item{
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .navbar-nav .item .nav-item:hover .sub-menu{
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-nav .item .nav-item:hover .sub-menu{
        display: block; position: absolute; z-index: 1;
        min-width: 120px;
        width: 100%;
        left: 0px;
    }
    .navbar-nav .item .nav-item .sub-menu a{font-size: 0.8em;}
    .navbar-nav .item .nav-item .sub-menu a:hover{
        color: #feca15 !important;
    }
}

/*header for each page*/
.header-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;

}

@media (min-width: 576px) {
    .header-img{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
    }
}
@media (min-width: 768px) {
    .header-img{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 500px;
    }
}
@media (min-width: 992px) {
    .header-img{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
    }

}

/*transform zoom when hover*/
.hover-zoom{
    transition: 0.2s;
}

.hover-zoom:hover{
    transition: 0.2s;
    transform: scale(1.1,1.1);
}

.shader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    transition: 0.2s;
    background-color: rgba(0,0,0,0.2);
    z-index: 10;
}
.shader:hover{
    transition: 0.2s;
    background-color: rgba(0,0,0,0)
}

.leader-modal-header{
    min-height: 250px;
}

.contact-box{
    transition: 0.2s;
    background-color: rgba(0,0,0,0.5);
}

.contact-box:hover{
    transition: 0.2s;
    background-color: rgba(0,0,0,0)

}

.contact-box h5{
    font-size: 13pt;
}




