/*MAIN MENU CSS*/
.top-menu{
    height: 60px;
    position: fixed;
    top:0px;
    z-index: 1000000;
    width: 100%;
}

.left-menu{
    width: 100px;
    display:inline-block;
}
.right-menu{
    float:right;
    display: inline-block;
}

.top-menu ul li{
    list-style: none;
    display: inline-block;
    margin:20px;
    font-family: Open Sans;
    font-weight: 600;
    transition: 0.2s;
    position: relative;

}

.top-menu li.logo img{
    width: 50px;
    margin-top:-5px;
}
.top-menu li{position:relative;}
.top-menu li i{
    position: absolute;
    right: -16px;
    color: white;
    transition: 0.2s;
    top:1px;
}

.top-menu li a:hover{
    color: #feca15 !important;
    transition: 0.2s;
}
.top-menu li:hover i{
    color: #feca15 !important;
    transition: 0.2s;
}
.top-menu li ul.sub-menu{display: none;}
.top-menu li:hover ul.sub-menu{
    color:white;
    width: 160px;
    padding: 20px 5px 0px 10px;
    position: absolute;
    left: -20px;
    top:20px;
    display: block;
    border-radius: 2px;
}
.top-menu li ul.sub-menu li{margin: 10px 10px 20px 10px; display: block;}
.top-menu li ul.sub-menu li a{
    color: white;
    transition: 0.2s;
}
.top-menu li ul.sub-menu li:hover{
    color: #feca15 !important;
    transition: 0.2s;
}

/*SIDE MENU CSS*/
.side-menu{
    width: 100%;
    height: 60px;
    position:fixed;
    top:0px;
    z-index: 1000000;

}

.side-menu a.bar{
    color: white;
    font-size: 2.5em;
    float: right;
    margin-right: 20px;
    margin-top:4px;
}

.side-menu-content nav{
    border-radius: 0px;
}

.side-menu-content{
    z-index: 1000000;
    height: 300px;
    position: absolute;

}

.side-menu-content li.logo img{
    width: 100px;
}

.side-menu-content ul{
    padding: 0px;
    margin-top:-10px;
}
.side-menu-content ul li{
    list-style: none;
    margin:20px;
    padding: 0px;
}
.side-menu-content ul li a{
    display: block;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

