/*CUSTOM STYLING FOR THEMING*/
/*author: MJ*/
/*22-2-18*/


.main-slider{
    height: auto;
    margin:0px;
    padding: 0px;
}
.main-slider .item{
    width: 100%;
    height: auto;
    background-size: contain;
}

.main-banner-callout{
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../img/front/becomevolunteernow_bg.png);
    color: white;
}



@media (min-width: 768px) {
    .main-banner-callout{
        height: 100%;
    }
}

/*videos responsive fix*/
@media (min-width: 576px) {
    .slider-for-video iframe{
        height: 330px;
    }
}
@media (min-width: 768px) {
    .slider-for-video iframe{
        height: 430px;
    }
}
@media (min-width: 992px) {
    .slider-for-video iframe{
        height: 530px;
    }

}

.who-box{
    min-height: 200px;
}

.values-box{
    min-height: 440px;
}

.pillar-box{
    min-height: 440px;
}

.team-box{
    height: 600px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.leader-box{max-height: 500px; min-height: 400px;}
.drem-box{min-height: 435px;}

.success-box{width: 100%; height: 300px;}

@media (min-width: 576px) {
    .success-box{width: 100%; height: 300px;}
}
@media (min-width: 768px) {
    .success-box{width: 100%; height: 400px;}
}
@media (min-width: 992px) {
    .success-box{width: 100%; height: 600px;}
}

.success-text{height: auto; min-height: 200px}
.pj-box{position: relative;}
.pj-box .article-month{position: absolute; left: -8px; top:10px;}
.media-box{height: 300px;}
.photo-gallery-box{height: 300px;}


